.mainHeading
{
	text-align: center;
	color: #003466;
}

.heading1
{
	margin-top: -5px;
	font-size: 30px;
	margin-bottom: -15px;
}

.subh1
{
	font-size: 18px;
}

input[type = "submit"], input[type = "button"]
{
	width: 100px;
	height: 50px;
	background: #91A4C4;
	font-size: 16px;
	font-weight: bold;
	margin-left: -20px;
	font-family: sans-serif,Arial;
	color: black;
	outline: none;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 0px;
	text-align: center;
	cursor: pointer;
	box-shadow: 10px 10px;
}


.f2,.f3,.f4,.tu2,.tu3,.tu4,.tnu2,.tnu3,.tnu4
{
	display: none;
}

.topic input
{
	height: 100px;
	text-align: left;
	padding-top: -10px;
}

input[type = "submit"]:hover
{
	background: #EFC03C;
}

p
{
	font-size: 18px;
}

img
{
	width: 60px;
	height: 60px;
}

@media only screen and (max-width: 800px) {
    .container
  	{
    	width: 600px;    
  	}
  	
    .remark textarea
    {
      width: 500px;
    }
    .extra textarea
    {
      width: 500px;
    }
    .suggest textarea
    {
      width: 200px;
    }
  	.prog input
  	{
      margin-left: -200px;
      width: 250px;
  	}
  	label
  	{
      margin-right:-20px;
  	}
  	.topicevaluate input[type="text"]
  	{
      width: 180px;
  	}
}

.sp
{
  display: flex;
  justify-content: left;
}

@media screen and (min-width: 900px) {
    .container 
  	{
        max-width: 850px;
    }
  	.remark textarea
    {
      width: 780px;
    }
    .extra textarea
    {
      width: 780px;
    }
    .suggest textarea
    {
      width: 400px;
    }
  	  
}

table
{
  border: none;
}  

form
{
	background-color: #EEEEEE;
	margin-top: 35px;
}

label
{
	font-size: 18px;
	font-weight: bold;
	width: 450px;
	margin-right: 10px;
	margin-left: 10px;
	position: relative;
	top: 12px;
	color: black;
}

.main
{
	margin-left: 30px;
	margin-right: 30px;
}

form div
{
	margin-bottom: 20px; 
}

.personal
{
	margin-top: -10px
}

.personal1
{
	margin-top: -7px
}

input
{
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	font-family: 'EB Garamond', serif;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid grey;
	text-align: left;
}

.bt
{
	text-align: left;
	float: left;
	width: 170px;
	margin-right: 10px;
	margin-bottom: -6px;
}

input[type="radio"]
{
	margin-right: 5px;
}

.topicevaluate textarea
{
  width: 400px;
}

th
{
	text-align: center;
}

.subhead
{
	text-align: left;
}

.yesnoa,.yesnob,.yesnoc,.yesnod,.yesnoe,.yesno
{
	display: none;
}

td
{
	margin-left: 20px;
}

.longtd
{
	text-align: left;
}

.longtd1
{
	text-align: center;
}

.item
{
	width: 350px;
}